.btn-outline-primary {
    color: #37b9ce!important;
    // color: var(--BlueColor)!important;
    // border-color: #37b9ce!important;
    border-color: #37B9CE !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #298d9d !important;
}