.wpProQuiz_response{
    background-color: transparent !important;
    border: none !important;
}
.wpProQuiz_correct{
    color: #48AB70;
}
.wpProQuiz_incorrect{
    color: #FF5151;
}

.btn-sec{
    background-color:#fff !important;
    border:1px solid #FF6B35 !important;
    color:#FF6B35 !important;
    font-weight:400 !important;
    font-size:14px !important;
}
.btn-liner{
    background-image:linear-gradient(90deg, rgb(42, 146, 162), rgb(70, 119, 173)) !important;
    font-weight:400 !important;
    font-size:14px !important;
}